body {
	font-family: 'Lucida Grande', sans-serif;
    font-size: 10px;
	background-color: #000;
	color: #fff;
	margin: 0;
	overflow: hidden;
}

.overlay {
    position: fixed;
    background: rgba(0,0,0,0.0);
    z-index: 10;
}

.heading-container {
    top: 0;
    text-align: center;
    width: 100%;
    background: #80808047;
}

.heading {
    display: inline-block;
    color: #fff;
    margin-right: 5px;
    font-size: 20px;
    line-height: 32px;
    vertical-align: bottom;
}

.dialog-overlay {
    display: none;
    position: fixed;
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    z-index: 999;
}

.dialog-container {
    color: rgba(255, 255, 255, 0.8);
    position: fixed;
    width: 640px;
    margin-left: -340px;
    height: 333px;
    top: 70px;
    left: 50%;
    padding: 15px 20px;
    background: rgba(13, 13, 13, 0.5);
    border-radius: 10px;
    border: white 1px solid;
    z-index: 99999;
}

.dialog-close {
    position: absolute;
    top: 10px;
    right: 15px;
}

.dialog-heading {
    text-align: center;
    font-weight: bold;
    color: rgba(230,230, 20, 0.9);
}

.sub-heading {
    font-weight: bold;
    color: rgba(230,230, 20, 0.9);
    margin-bottom: 5px;
}

table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 5px;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    border: 1px solid white;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.command-column {
    text-align: center;
}

.page-controls-container {
    position: relative;
    width: 100px;
    height: 30px;
    top: 15px;
    left: 50%;
    margin-left: -50px;
}

.previous-page {
    position: absolute;
    left: 0;
}

.next-page {
    position: absolute;
    right: 0;
}

.button {
    color: rgba(97, 135, 200, 0.8);
    display: inline;
    padding: 5px;
    cursor: pointer;
}

.button:hover {
    color: rgba(97, 135, 200, 1.0);
}

.button-disabled {
    color: rgba(97, 135, 200, 0.3);
    cursor: auto;
}

.button-disabled:hover {
    color: rgba(97, 135, 200, 0.3);
}

.run-config-label {
    margin-top: 10px;
    margin-bottom: 4px;
    display: block;
}

.run-config-input {
    width: 632px;
    border-width: 0;
    padding: 4px;
    display: block;
}

/* Override default CodeMirror styles */
.CodeMirror {
    height: 200px;
}

.run-config-button {
    margin: 15px 15px 15px 0;
    height: 30px;
    font-size: 14px;
    width: 70px;
}

.toolbar-icon {
    width: 32px;
    height: 32px;
    bottom: 0;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: rgba(255,255,255,0.8);
    -webkit-mask-size: 32px 32px;
    -webkit-mask-repeat: no-repeat;
    mask-size: 50% 50%;
    mask-repeat: no-repeat;
}

.toolbar-icon:hover {
    background-color: rgba(255,255,255,1.0);
}

.toolbar-icon-disabled {
    background-color: rgba(255,255,255,0.3);
    cursor: auto;
}

.toolbar-icon-disabled:hover {
    background-color: rgba(255,255,255,0.3);
}

.run-config {
    left: 50%;
    margin-left: -140px;
    bottom: -2px;
    -webkit-mask-image: url("../images/run_config.svg");
    mask-image: url("../images/run_config.svg");
}

.reset {
    left: 50%;
    margin-left: -50px;
    -webkit-mask-image: url("../images/reset.svg");
    mask-image: url("../images/reset.svg");
}

.run {
    left: 50%;
    margin-left: -16px;
    -webkit-mask-image: url("../images/run.svg");
    mask-image: url("../images/run.svg");
}

.pause {
    left: 50%;
    margin-left: -16px;
    -webkit-mask-image: url("../images/pause.svg");
    mask-image: url("../images/pause.svg");
}

.step {
    left: 50%;
    margin-left: 18px;
    -webkit-mask-image: url("../images/step.svg");
    mask-image: url("../images/step.svg");
}

.settings {
    right: 47px;
    -webkit-mask-image: url("../images/settings.svg");
    mask-image: url("../images/settings.svg");
}

.info {
    position: static;
    display: inline-block;
    margin: 0;
    -webkit-mask-image: url("../images/info.svg");
    mask-image: url("../images/info.svg");
}

.speed-control-container {
    bottom: 0;
    left: 50%;
    margin-left: 120px;
    margin-bottom: 10px;
    width: 106px;
    font-size: 12px;
}

.preset-program-container {
    bottom: 0;
    left: 50%;
    margin-bottom: 12px;
}

.preset-program-select {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 140px;
    cursor: pointer;
    border: 1px solid #000;
    font-size: 12px;
    color: #fff;
    background: #444;
    padding: 5px;
}

.gui-container {
    top: 40px;
    left: 0;
    position: fixed;
}

.current-command-container {
    top: 40px;
    right: 0;
    margin: 10px;
    position: fixed;
    width: 110px;
    height: 68px;
    padding: 15px 20px;
    background: rgba(63, 63, 63, 0.5);
    border-radius: 10px;
    border: white 1px solid;
}

.current-command-heading {
    font-size: 12px;
    text-align: center;
}

.current-command {
    font-size: 36px;
    text-align: center;
    margin: 8px;
}


/* --- range styles --- */

input[type=range].slider {
    -webkit-appearance: none;
    width: 100%;
    margin: -0.1px 0;
}
input[type=range].slider:focus {
    outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 14.2px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #484d4d;
    border-radius: 0px;
    border: 0px solid #010101;
}
input[type=range].slider::-webkit-slider-thumb {
    box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
    border: 0px solid #ff1e00;
    height: 14px;
    width: 14px;
    border-radius: 1px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 0.1px;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
    background: #545a5a;
}
input[type=range].slider::-moz-range-track {
    width: 100%;
    height: 14.2px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #484d4d;
    border-radius: 0px;
    border: 0px solid #010101;
}
input[type=range].slider::-moz-range-thumb {
    box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
    border: 0px solid #ff1e00;
    height: 14px;
    width: 14px;
    border-radius: 1px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range].slider::-ms-track {
    width: 100%;
    height: 14.2px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range].slider::-ms-fill-lower {
    background: #3c4040;
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].slider::-ms-fill-upper {
    background: #484d4d;
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].slider::-ms-thumb {
    box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
    border: 0px solid #ff1e00;
    width: 14px;
    border-radius: 1px;
    background: #ffffff;
    cursor: pointer;
    height: 14px;
}
input[type=range].slider:focus::-ms-fill-lower {
    background: #484d4d;
}
input[type=range].slider:focus::-ms-fill-upper {
    background: #545a5a;
}

input[type=range].slider {
    -webkit-appearance: none;
    width: 100%;
    margin: -0.1px 0;
}
input[type=range].slider:focus {
    outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 14.2px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #484d4d;
    border-radius: 0px;
    border: 0px solid #010101;
}
input[type=range].slider::-webkit-slider-thumb {
    box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
    border: 0px solid #ff1e00;
    height: 14px;
    width: 14px;
    border-radius: 1px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 0.1px;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
    background: #545a5a;
}
input[type=range].slider::-moz-range-track {
    width: 100%;
    height: 14.2px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #484d4d;
    border-radius: 0px;
    border: 0px solid #010101;
}
input[type=range].slider::-moz-range-thumb {
    box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
    border: 0px solid #ff1e00;
    height: 14px;
    width: 14px;
    border-radius: 1px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range].slider::-ms-track {
    width: 100%;
    height: 14.2px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range].slider::-ms-fill-lower {
    background: #3c4040;
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].slider::-ms-fill-upper {
    background: #484d4d;
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].slider::-ms-thumb {
    box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
    border: 0px solid #ff1e00;
    width: 14px;
    border-radius: 1px;
    background: #ffffff;
    cursor: pointer;
    height: 14px;
}
input[type=range].slider:focus::-ms-fill-lower {
    background: #484d4d;
}
input[type=range].slider:focus::-ms-fill-upper {
    background: #545a5a;
}
