body {
	font-family: 'Lucida Grande', sans-serif;
	background-color: #000;
	color: #fff;
	margin: 0;
	overflow: hidden;
}

.overlay {
    position: fixed;
    background: rgba(0,0,0,0.1);
    z-index: 10;
}

.heading-container {
    width: 126px;
    height: 44px;
    top: 0;
    left: 50%;
    margin-left: -63px;
    text-align: center;
}

.heading {
    color: #fff;
    margin-top: 3px;
    font-size: 30px;
}

.settings-overlay {
    display: none;
    position: fixed;
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    z-index: 999;
}

.settings-container {
    position: fixed;
    width: 500px;
    top: 70px;
    left: 50%;
    margin-left: -270px;
    padding: 15px 20px;
    background: rgba(63, 63, 63, 0.5);
    border-radius: 10px;
    border: white 1px solid;
    z-index: 99999;
}

.settings-heading {
    text-align: center;
}

.settings-label {
    margin-top: 10px;
    margin-bottom: 4px;
    display: block;
}

.settings-option {
    width: 496px;
    display: block;
}

.settings-button {
    margin: 15px 15px 15px 0;
    height: 30px;
    font-size: 14px;
    width: 70px;
}

.settings-icon {
    width: 32px;
    height: 32px;
    bottom: 0;
    right: 0;
    margin: 10px;
    background: url("../images/settings.svg");
    background-size: 32px 32px;
}

.player-icon {
    width: 32px;
    height: 32px;
    bottom: 0;
    left: 50%;
    margin-bottom: 10px;
    background-color: white;
    -webkit-mask-size: 32px 32px;
    -webkit-mask-repeat: no-repeat;
    mask-size: 50% 50%;
    mask-repeat: no-repeat;
}

.reset {
    margin-left: -48px;
    -webkit-mask-image: url("../images/reset.svg");
    mask-image: url("../images/reset.svg");
}

.run {
    margin-left: -16px;
    -webkit-mask-image: url("../images/run.svg");
    mask-image: url("../images/run.svg");
}

.pause {
    margin-left: -16px;
    -webkit-mask-image: url("../images/pause.svg");
    mask-image: url("../images/pause.svg");
}

.step {
    margin-left: 16px;
    -webkit-mask-image: url("../images/step.svg");
    mask-image: url("../images/step.svg");
}

.disabled {
    background-color: rgba(255,255,255,0.5);
}

.speed-control-container {
    bottom: 0;
    left: 50%;
    margin-left: 120px;
    margin-bottom: 10px;
    width: 106px;
    font-size: 12px;
}

.preset-program-container {
    bottom: 0;
    left: 50%;
    margin-bottom: 12px;
}

.preset-program-select {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 120px;
    border: 1px solid #000;
    font-size: 12px;
    color: #fff;
    background: #444;
    padding: 5px;
}

.gui-container {
    bottom: 0;
    left: 0;
    position: fixed;
    margin-bottom: 20px;
}

.current-command-container {
    top: 0;
    right: 0;
    margin: 10px;
    position: fixed;
    width: 200px;
    height: 68px;
    padding: 15px 20px;
    background: rgba(63, 63, 63, 0.5);
    border-radius: 10px;
    border: white 1px solid;
}

.current-command-heading {
    font-size: 13px;
    text-align: center;
}

.current-command {
    font-size: 36px;
    text-align: center;
    margin: 8px;
}


/* --- range styles --- */

input[type=range].slider {
    -webkit-appearance: none;
    width: 100%;
    margin: -0.1px 0;
}
input[type=range].slider:focus {
    outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 14.2px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #484d4d;
    border-radius: 0px;
    border: 0px solid #010101;
}
input[type=range].slider::-webkit-slider-thumb {
    box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
    border: 0px solid #ff1e00;
    height: 14px;
    width: 14px;
    border-radius: 1px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 0.1px;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
    background: #545a5a;
}
input[type=range].slider::-moz-range-track {
    width: 100%;
    height: 14.2px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #484d4d;
    border-radius: 0px;
    border: 0px solid #010101;
}
input[type=range].slider::-moz-range-thumb {
    box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
    border: 0px solid #ff1e00;
    height: 14px;
    width: 14px;
    border-radius: 1px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range].slider::-ms-track {
    width: 100%;
    height: 14.2px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range].slider::-ms-fill-lower {
    background: #3c4040;
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].slider::-ms-fill-upper {
    background: #484d4d;
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].slider::-ms-thumb {
    box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
    border: 0px solid #ff1e00;
    width: 14px;
    border-radius: 1px;
    background: #ffffff;
    cursor: pointer;
    height: 14px;
}
input[type=range].slider:focus::-ms-fill-lower {
    background: #484d4d;
}
input[type=range].slider:focus::-ms-fill-upper {
    background: #545a5a;
}

input[type=range].slider {
    -webkit-appearance: none;
    width: 100%;
    margin: -0.1px 0;
}
input[type=range].slider:focus {
    outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 14.2px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #484d4d;
    border-radius: 0px;
    border: 0px solid #010101;
}
input[type=range].slider::-webkit-slider-thumb {
    box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
    border: 0px solid #ff1e00;
    height: 14px;
    width: 14px;
    border-radius: 1px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 0.1px;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
    background: #545a5a;
}
input[type=range].slider::-moz-range-track {
    width: 100%;
    height: 14.2px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #484d4d;
    border-radius: 0px;
    border: 0px solid #010101;
}
input[type=range].slider::-moz-range-thumb {
    box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
    border: 0px solid #ff1e00;
    height: 14px;
    width: 14px;
    border-radius: 1px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range].slider::-ms-track {
    width: 100%;
    height: 14.2px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range].slider::-ms-fill-lower {
    background: #3c4040;
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].slider::-ms-fill-upper {
    background: #484d4d;
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].slider::-ms-thumb {
    box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
    border: 0px solid #ff1e00;
    width: 14px;
    border-radius: 1px;
    background: #ffffff;
    cursor: pointer;
    height: 14px;
}
input[type=range].slider:focus::-ms-fill-lower {
    background: #484d4d;
}
input[type=range].slider:focus::-ms-fill-upper {
    background: #545a5a;
}
